{% extends "layout.html" %}

{% block heading %}
    Second Page
{% endblock %}

{% block body %}
        <p>
           Diam quis enim lobortis scelerisque. Sit amet commodo nulla facilisi nullam vehicula. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus. Mi tempus imperdiet nulla malesuada pellentesque elit eget. Mauris a diam maecenas sed enim. Faucibus et molestie ac feugiat sed lectus vestibulum mattis. Proin libero nunc consequat interdum varius sit. Quis vel eros donec ac odio tempor orci dapibus ultrices. Consectetur purus ut faucibus pulvinar elementum integer enim. Facilisi cras fermentum odio eu feugiat pretium. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Pretium fusce id velit ut tortor. Nunc id cursus metus aliquam. Ut porttitor leo a diam sollicitudin tempor id. Aliquam etiam erat velit scelerisque in dictum. Integer quis auctor elit sed vulputate mi sit amet mauris. Fringilla urna porttitor rhoncus dolor purus non. Aliquam sem et tortor consequat.    
        </p>

        <a href="{{ url_for('index') }}">Go back</a>
        {% endblock %}        
    </body>
</html>
